asgiref
beautifulsoup4
bs4
certifi
chardet
cupshelpers
defer
distro-info
Django
httplib2
idna
language-selector
lightdm-gtk-greeter-settings
lxml
olefile
pexpect
Pillow
pycups
pygobject
python-apt
python-debian
pytz
PyYAML
reportlab
requests
six
soupsieve
sqlparse
ubuntu-drivers-common
ufw
urllib3
usb-creator
virtualenv
xkit
